#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-toolbar {
  background-color: var(--ion-color-myowncolor);
}

ion-button {
  color: #fff;
  background-color: rgb(10, 6, 255);
  border-radius: 6px;
  text-align: center;
  width: 90px;
}
