<!-- 
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
-->
<app-header title="Home"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo">
      <ion-icon slot="start" color="success" [name]='c.icon'> </ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>
</ion-content>